{%- comment -%}
  The template the hero's screenshot was built from. Kept beside the layout rather than in
  the wiki: it is the one piece of YAML that has to line up with that particular image.
{%- endcomment -%}
<pre><code class="language-yaml"><span class="na">decluttering_templates</span><span class="pi">:</span>
  <span class="na">room_light</span><span class="pi">:</span>
    <span class="na">card</span><span class="pi">:</span>
      <span class="na">type</span><span class="pi">:</span> <span class="s">tile</span>
      <span class="na">entity</span><span class="pi">:</span> <span class="s">'[[light]]'</span>
      <span class="na">name</span><span class="pi">:</span> <span class="s">'[[room]]'</span>
      <span class="na">features</span><span class="pi">:</span>
        <span class="pi">-</span> <span class="na">type</span><span class="pi">:</span> <span class="s">toggle</span></code></pre>
